

/*
**	Main container
*/

	:root
	{
		--be-module-menu-width: 230px;					/*	Backend modules side panel menu container width */
		--be-module-forms-width: 100%;					/*	Backend modules forms container width */
		--be-module-form-container-max-width: 1600px;	/*	Backend module container max-width */
		
		--be-module-table-second-row: rgb(245,245,245);	/*	Backend module container max-width */
		--be-module-table-row-hover: rgba(225,225,225);			/*	Backend module container max-width */
	}

	div.be-module-container { max-width:var(--be-module-form-container-max-width); margin:0 auto; margin-top:25px; padding:0px 15px; }
	div.be-module-container.forms-view { display:flex; }
	div.be-module-container > div:first-child { flex-basis:var(--be-module-menu-width); width:var(--be-module-menu-width); flex-shrink:0; } 
	div.be-module-container > div:last-child  { flex-basis:var(--be-module-forms-width); width:var(--be-module-forms-width); }

	/* left sidebar */
	div.be-module-container .inter-menu { position:-webkit-sticky; position:sticky; top:0px; padding-right:25px; padding-top:5px; }
	div.be-module-container .inter-menu  a { display:block; margin:5px 0px; font-size:0.85em; }
	div.be-module-container .inter-menu  hr { height:1px; border:none; border-bottom:1px solid black; }
	div.be-module-container .inter-menu  ul { margin:7px 0px 7px 24px; }
	div.be-module-container .inter-menu  h2 { font-size:1.2em; font-weight:300; }
	div.be-module-container .delete-box { padding-top:10px; }

	div.be-module-container .delete-box .ui.fieldset { padding:0px; border:none; background:unset; }
	div.be-module-container .delete-box .ui.fieldset .submit-container { left:0px; flex-wrap:nowrap; width:100%; position:initial; }
	div.be-module-container .delete-box .ui.fieldset .submit-container button { width:100%; min-width:initial; text-align:left; }
	div.be-module-container .delete-box .ui.fieldset .result-box { margin:10px 0px; }




	/* right content */
	div.be-module-container table.table-overview { width:100%; border-collapse:collapse; border-spacing:0; }
	div.be-module-container table.table-overview thead td { font-size:0.65em; font-weight:700; text-transform:uppercase; letter-spacing:0.1em; border-bottom:1px solid rgb(80,80,80); }
	div.be-module-container table.table-overview tbody td { font-size:0.95em; cursor:pointer; }
	div.be-module-container table.table-overview td { padding:4px 9px; }
	div.be-module-container table.table-overview td.batch-selection-item { width:50px; position:relative; padding: 0px 0px 0px 18px; }
	div.be-module-container table.table-overview td.bach-item-menu { width:50px; position:relative; cursor:default; text-align:center; font-size:1.7em; }
	div.be-module-container table.table-overview td.bach-item-menu > span { margin-top:-3px; display:block; cursor:pointer; color:black; }
	div.be-module-container table.table-overview tbody tr:nth-of-type(2n+0) td { background-color:var(--be-module-table-second-row); }
	div.be-module-container table.table-overview tbody tr:hover td { background-color:var(--be-module-table-row-hover); }
	div.be-module-container table.table-overview tfoot tr:last-child  td { font-weight:700; font-size:0.9em; padding:9px 9px; border-top:1px solid rgb(80,80,80); }
	div.be-module-container table.table-overview tfoot tr:last-child  td.batch-selection-item { width:50px; position:relative; padding-left: 18px; }

	/* batch item menu dropdown */
	div.be-module-container table.table-overview td.bach-item-menu > .dropdown-content { border-color:rgb(204, 204, 204); border-style:solid; display:none; position:absolute; border-width:1px; background-color:#fff; z-index:3; width:200px; right:calc( 100% - 10px); top:5px; box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2); text-align:left; background-color:rgb(89, 89, 89); }
	div.be-module-container table.table-overview td.bach-item-menu:hover > .dropdown-content { display:block; color:#000; text-shadow:none; font-size:0.9rem; border-top:0; letter-spacing:1px; }
	div.be-module-container table.table-overview td.bach-item-menu .dropdown-content a { text-decoration:none; color:#ffd633; display:block; padding:6px 16px; text-shadow:0px 0px 1px #000; }
	div.be-module-container table.table-overview td.bach-item-menu .dropdown-content a:hover, 
	div.be-module-container table.table-overview td.bach-item-menu .dropdown-content a:focus { text-shadow:0px 0px 1px rgb(140, 140, 140);	background-color:rgb(89, 89, 89); }
	div.be-module-container table.table-overview td.bach-item-menu .dropdown-content > div:after { content:""; position:absolute; right:-10px; top:12px; margin-left:-5px; border-width:5px; border-style:solid; border-color:transparent  transparent transparent #555; }

	div.be-module-container table.table-overview tr.disable-submenu td { cursor:default !important;  }
	div.be-module-container table.table-overview tr.disable-submenu td.bach-item-menu > span { display:none !important; }
	div.be-module-container table.table-overview tr.disable-submenu td.bach-item-menu > div  { display:none !important; }




/*
**	Forms
*/


.ui.fieldset { border:1px solid black; padding:10px 15px 10px 15px; position:relative; margin-bottom:25px; position: relative; background: rgba(0,0,0,0.1); border:none; border-radius:3px; }
.ui.fieldset:not(.simply) { padding-top:24px; border-radius:3px 3px 3px 0px;}
.ui.fieldset.button-only { background: rgba(0,0,0,0); }


.ui.fieldset > legend { display:inline-block; padding:0px 6px; margin-left:10px; font-size:0.85em; position: absolute;top: 0px;left: -10px;background: white;border-bottom-right-radius: 7px;font-weight: bold;font-size: 0.75em;padding: 3px 10px;}
.ui.fieldset > div { display:flex; flex-wrap:wrap; }

.ui.fieldset.submit-able { margin-bottom:100px; }
.ui.fieldset.notify-set { border:none; border-top:1px solid lightgray; }

.ui.fieldset .input { margin-bottom:5px; padding:0px 4px; position:relative; }
.ui.fieldset .width-100 { width:100%; }
.ui.fieldset .width-75  { width:75%; }
.ui.fieldset .width-50  { width:50%; }
.ui.fieldset .width-25  { width:25%; }
 
.ui.fieldset .group { display:flex; flex-wrap:wrap; padding:0px 4px; }
.ui.fieldset .group-head { background:rgb(84,84,84); color:white; padding:2px 7px; font-size:0.7em; text-transform:uppercase; font-weight:bold; margin:10px 0px 5px 0px; letter-spacing:0.1em; height:1.75em; }
/*
.ui.fieldset .group .input.width-50:nth-of-type(1n+1) { padding:0px; padding-right:4px;  }
.ui.fieldset .group .input.width-50:nth-of-type(2n+1) { padding:0px; padding-left:4px;  }
*/
.ui.fieldset .submit-container { position:absolute; top:100%; left:23px; display: flex; align-content:stretch; left:0px; }
.ui.fieldset .submit-container:not(.button-only) { padding:15px 23px; background: rgba(0,0,0,0.05); border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top: 1px solid white; }
.ui.fieldset .submit-container button { min-width:175px; cursor:pointer; text-align: left; border-top-right-radius:0px; border-bottom-right-radius:0px; }
.ui.fieldset .submit-container .protector { position:relative; border-color: rgb(140, 140, 140); border-style: solid; background:white; border-width: 1px 1px 1px 0px; padding: 7px 0px 3px 10px; border-top-right-radius:3px; border-bottom-right-radius:3px; height:34px; }
.ui.fieldset .submit-container .protector > label { padding-left:1.70em; }

.ui.fieldset .validation-failed { border:1px solid red; }

.ui .input > div.select-wrapper > select,
.ui .input > select,
.ui .input > textarea,
.ui .input > input { width:100%; padding:7px 10px; outline:none; border-radius:3px; }

.ui .input > div.select-wrapper > select,
.ui .input > select { padding:6px 10px; }
.ui .input > label { font-size:0.75em; letter-spacing:0.05em; padding:0 2px; display:inline-block; }
button.ui,
.ui .input > button { width:100%; padding:7px 10px; outline:none; border-radius:3px;  }
.ui .input > i.far,
.ui .input > i.fas { position:absolute; bottom:10px; right:15px; opacity:0.5; }

.ui .result-box { padding:10px 10px; font-size:0.9em; margin:15px 8px; border-radius:3px; color:white; font-weight:500; }
.ui .result-box[data-error="0"] { background:rgba(0,153,51,0.6); }
.ui .result-box[data-error="1"] { background:rgba(255,0,0,0.6); }
.ui .result-box[data-error="2"] { background:rgba(40, 83, 131, 0.877); }
.ui .result-box:empty { display:none; }
.ui .result-box.big {font-size:1em; }

.ui .result-box.lower-font-size { font-size:0.8em; } 
.ui .result-box.ping-result  { margin:10px 0px; position:relative;} 
.ui .result-box.ping-result .refresh-button { font-size:1.47em; position:absolute; top:89%; left:0px; width:100%; } 
.ui .result-box.ping-result .refresh-button button { border-top-left-radius:0px; border-top-right-radius:0px; text-align:left; }



.ui.result-box { padding:10px 10px; font-size:0.9em; margin:15px auto; border-radius:3px; color:white; font-weight:500; max-width:1000px; }
.ui.result-box[data-error="0"] { background:rgba(0,153,51,0.6); }
.ui.result-box[data-error="1"] { background:rgba(255,0,0,0.6); }
.ui.result-box[data-error="2"] { background:rgba(40, 83, 131, 0.877); }
.ui.result-box:empty { display:none; }
.ui.result-box.big {font-size:1em; }

.ui.result-box.lower-font-size { font-size:0.8em; } 
.ui.result-box.ping-result  { margin:10px 0px; position:relative;} 
.ui.result-box.ping-result .refresh-button { font-size:1.47em; position:absolute; top:89%; left:0px; width:100%; } 
.ui.result-box.ping-result .refresh-button button { border-top-left-radius:0px; border-top-right-radius:0px; text-align:left; }




.ui div.input > div.select-wrapper { position:relative; width:100%; }
.ui div.input > div.select-wrapper > select { -webkit-appearance:none; -moz-appearance:none; appearance:none; width:100%; cursor:pointer; height:34px; }
.ui div.input > div.select-wrapper:not(.select-disabled):after { position:absolute; content:' '; width:8px; height:8px; transform-origin:50% 50%; transform:rotate(-45deg) translateY(-50%); border-width:0px 0px 2px 2px; border-color:black; border-style:solid; top:38%; right:10px; pointer-events:none; }

.ui.button.icon { position:relative; width:35px; height:34px; }
.ui.button.labeled.icon {  padding-left:45px; width:auto; }

.ui.button.icon > span { padding: 5px 10px; font-size:1.1em; position:absolute; top:0px; left:0px; height:100%; width:35px; background-color:rgba(255,255,255,0.3); display:flex; align-items:center; justify-content: center; }


.ui.button.icon.right { padding-left:10px; padding-right:45px; }
.ui.button.icon.right > i { left:initial; right:0px; height:100%; width:35px; background-color:rgba(255,255,255,0.3); }

.ui.pick-item { margin:2px 8px; display:flex; align-items:center; position:relative; font-size:0.9em; background: rgb(214,187,35); padding: 3px 12px 1px 10px; border:1px solid black; }
.ui.pick-item label { min-width:160px; padding-right:25px; }
.ui.pick-item span { font-size: 1.2em; font-weight: bold; position: absolute; top: 0px; right: 0px; height: 100%; padding: 0px 9px; cursor: pointer; }
.ui.pick-item span:hover { background:rgba(255,255,255,0.2); }

[hidden] { display:none; } 



/*
**	Modal
*/

div.cms-modal {
	position: fixed;
	color:black;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	backdrop-filter: blur(2px) grayscale(0.7);
	background: rgba(0,0,0,0.4);
	font-family: 'Open Sans',sans-serif;
    font-weight: 300;
	z-index: 100000;
}

div.cms-modal > div.cms-modal-inner { background-color: rgb(255,255,255);	outline: solid 2px rgba(0,0,0,0.4);	width: 95%;	max-width: 700px; }
div.cms-modal h4 {	padding: 10px; margin:0px; font-weight:400;background-color: gold;font-size: 16px; }
div.cms-modal p { margin:15px 0px; }
div.cms-modal .cms-modal-content-userdefined { padding: 10px;}
div.cms-modal div.cms-modal-buttons-bottom { display: flex;	justify-content: space-between;	align-items: center; padding: 10px;background: gainsboro; }
div.cms-modal div.cms-modal-buttons-bottom button {	width:auto;	height:34px; }
div.cms-modal div.cms-modal-buttons-bottom > div { flex-wrap:nowrap; width:50%; }
div.cms-modal div.cms-modal-buttons-bottom > div:last-child { text-align:right; }
div.cms-modal div.cms-modal-buttons-bottom .ui.button.icon > span > i {	margin-top: 1px; }
div.cms-modal div.cms-modal-buttons-bottom .ui.button:not(:last-child) { margin-right: 15px; }

div.cms-modal div.controls { display:flex; justify-content:space-between; align-items:center; width:calc(100% - 1px); }
div.cms-modal div.controls > div.right { text-align:right; }
div.cms-modal div.controls > div { display:flex;  align-items:center;  }
div.cms-modal div.controls button { border-radius: 0px; border:0px; background:transparent; }
div.cms-modal div.controls button:not([disabled]):hover { background:rgba(0,0,0,0.1); }
div.cms-modal div.controls label { padding:0 12px; font-size:0.87em; }
div.cms-modal div.controls button i,
div.cms-modal div.controls button span { pointer-events:none; }

div.cms-modal table.cms-modal-path-select-list { width:100%; border-spacing: 0px; font-size:0.9em; }
div.cms-modal table.cms-modal-path-select-list tr { cursor:pointer; }
div.cms-modal table.cms-modal-path-select-list tr .fileicon { text-align:center; width:25px; padding:0px 3px 0px 10px; pointer-events:none; }
div.cms-modal table.cms-modal-path-select-list tr .filename { text-align:left; }
div.cms-modal table.cms-modal-path-select-list tr .filetype { text-align:left; }
div.cms-modal table.cms-modal-path-select-list tr .filesize { text-align:right; }
div.cms-modal table.cms-modal-path-select-list thead th { font-size:0.9em; font-weight:normal; }
div.cms-modal table.cms-modal-path-select-list th,
div.cms-modal table.cms-modal-path-select-list td { padding:5px 13px; }
div.cms-modal table.cms-modal-path-select-list i { pointer-events:none; }
div.cms-modal table.cms-modal-path-select-list th:nth-of-type(1):not(:empty):hover { background-color:rgba(0,0,0,0.07); cursor:pointer; font-weight:bold; }

div.cms-modal table.cms-modal-path-select-list tr.path-selected { background:rgba(194, 214, 214, 0.2); }
div.cms-modal fieldset { border:0px; }


/*
**	Mediathek
*/

div.mediathek-main table.mediathek-list { width:100%; border-spacing: 0px; font-size:0.9em;      }
div.mediathek-main table.mediathek-list tr .fileicon { text-align:center; width:29px; padding:0px 3px 0px 8px; }
div.mediathek-main table.mediathek-list tr .filename { text-align:left; }
div.mediathek-main table.mediathek-list tr .filetype { text-align:left; width:125px; }
div.mediathek-main table.mediathek-list tr .filetime { text-align:left; width:165px; }
div.mediathek-main table.mediathek-list tr .filesize { text-align:right; width:125px; }
div.mediathek-main table.mediathek-list tr .filemodify { text-align:center; width:41px; opacity:0.3;  }
div.mediathek-main table.mediathek-list tr .filemodify i { transform: scale(1.18); }
div.mediathek-main table.mediathek-list tr .filemodify:hover { opacity:1; }
div.mediathek-main table.mediathek-list thead th { font-size:0.9em; font-weight:normal; }
div.mediathek-main table.mediathek-list th,
div.mediathek-main table.mediathek-list td { padding:5px 13px; }
div.mediathek-main table.mediathek-list i { pointer-events:none; }
div.mediathek-main table.mediathek-list th:nth-of-type(1):not(:empty):hover { background-color:rgba(0,0,0,0.07); cursor:pointer; font-weight:bold; }

div.mediathek-main table.mediathek-list tbody tr { transition:0.05s; cursor:pointer; }
div.mediathek-main table.mediathek-list tbody tr:hover { background-color:rgba(0,0,0,0.07); }

div.mediathek-main.mediathek-work-select table.mediathek-list tbody tr:hover { background-color:rgba(0,0,0,0.07); cursor:pointer; }

div.mediathek-main div.mediathek-square { display:flex; flex-wrap:wrap; } 
div.mediathek-main div.mediathek-square > div {  padding-top: 19%; width:calc(20% - 1px); margin-right:1px; margin-top:1px; flex-shrink:0; background-position:center center; background-repeat:no-repeat; background-size:cover; } 
div.mediathek-main div.mediathek-square > div.item-dir { position:relative; } 
div.mediathek-main div.mediathek-square > div.item-dir > div { position: absolute;top: 0; left: 0; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; flex-direction: column; pointer-events:none;} 
div.mediathek-main div.mediathek-square > div.item-dir > div i { font-size:4em; pointer-events:none; }
div.mediathek-main div.mediathek-square > div.item-dir > div span.name { display:block; margin-top:5px; pointer-events:none; font-size:0.9em; }

div.mediathek-main div.mediathek-square > div.item-file.item-image { position:relative; } 
div.mediathek-main div.mediathek-square > div.item-file.item-image > div { position: absolute; display:none; bottom: 0; left: 0; width: 100%; pointer-events:none; background-color:rgba(255,255,255,0.8); padding:5px 5px; font-size:0.7em; overflow:hidden; } 
div.mediathek-main div.mediathek-square > div.item-file.item-image:hover > div { display:block; } 

div.cms-modal div.mediathek-main div.mediathek-square > div { width:calc(25% - 1px); } 
div.cms-modal div.mediathek-main div.mediathek-square > div {  padding-top: 19%; } 

div.mediathek-main.mediathek-work-select div.mediathek-square > div { cursor:pointer; }
div.mediathek-main div.mediathek-square > div.item-file:hover { opacity:0.9; }
div.mediathek-main div.mediathek-square > div.item-dir:hover { cursor:pointer; }
div.mediathek-main div.mediathek-square > div.item-dir:hover { background-color: rgba(194, 214, 214, 0.2); }

div.mediathek-main div.controls { display:flex; justify-content:space-between; align-items:center; width:calc(100% - 1px); }
div.mediathek-main div.controls > div.right { text-align:right; }
div.mediathek-main div.controls > div { display:flex;  align-items:center;  }
div.mediathek-main div.controls button { border-radius: 0px; border:0px; background:transparent; }
div.mediathek-main div.controls button:not([disabled]):hover { background:rgba(0,0,0,0.1); }
div.mediathek-main div.controls label { padding:0 12px; font-size:0.87em; }
div.mediathek-main div.controls button i,
div.mediathek-main div.controls button span { pointer-events:none; }

/*
**	Mediathek Modal edit
*/

div.cms-modal-mediathek-edit .ui.fieldset { background:unset; padding:0px; margin-bottom:unset; }
div.cms-modal-mediathek-edit fieldset > div { display:flex; padding-top:2px; flex-wrap:nowrap !important; }
div.cms-modal-mediathek-edit fieldset > div > div.preview { height:430px; width:500px; flex-shrink:0; box-shadow: 0 0 12px -2px rgb(0 0 0 / 50%);  border:1px solid grey; padding: 10px; }
div.cms-modal-mediathek-edit fieldset > div > div.preview.grid { background: #445963; background-image: linear-gradient(transparent 11px, rgba(220,220,200,.8) 12px, transparent 12px), linear-gradient(90deg, transparent 11px, rgba(220,220,200,.8) 12px, transparent 12px); background-size: 100% 12px, 12px 100%; }
div.cms-modal-mediathek-edit fieldset > div > div.preview > div.preview-inner { background-position:center center; background-size:contain; background-repeat:no-repeat; width:100%; height:100%; }
div.cms-modal-mediathek-edit fieldset > div > div.fields { width:100%; display:flex; flex-wrap: wrap; padding-left:10px; }
div.cms-modal-mediathek-edit fieldset > div > div.fields > div { padding:0 10px 5px 0; }
div.cms-modal-mediathek-edit fieldset textarea { resize:none; }
div.cms-modal-mediathek-edit fieldset label { margin-bottom:4px; margin-left:4px; }

