.htaccess
archiv/
backend/.*
cert/*
config/*
log/*
cron/.*
temp/*
!config/directories.php
data/htaccess/
data/configuration.json
data/routes.json
public/*
!public/index.php
templates/*
!templates/backend
mantle/modules/*
!mantle/modules/mod_blog
mediathek/*
!mediathek/index.php
!mediathek/readme
install/page-templates/*
!install/page-templates/pt-default.zip
data/modules/simpleNavigation
!data/modules/simpleNavigation/list
!data/modules/simpleNavigation/squares
backend/css/cms.css
backend/js/cms.js
VERSION-DB