.htaccess
archiv/
backend/.*
cert/*
config/*
cron/.*
temp/*
!config/directories.php
data/htaccess/
data/configuration.json
data/routes.json
public/*
!public/index.php
templates/*
!templates/backend
!templates/default
mantle/
!mantle/modules/mod_blog